@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject HttpClient client
@inject NavigationManager nav
@inject ICartService CartService

<style>
    * {
        box-sizing: border-box;
    }

    .list-product {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        width: 188px;
        margin: 10px;
    }

    .img-responsive {
        width: 200px;
        height: 150px;
        display: block;
        margin: auto;
    }

    .title {
        color: #0e0e0e;
        display: block;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        height: 60px;
    }

    .field-price {
        font-size: 24px;
        color: #d50000;
        margin-bottom: 15px;
        font-weight: 700;
        text-align: center;
    }

    .viewProduct, .addProduct {
        border: 0;
        font-weight: 700;
        padding: 9px 5px;
        background: #ffd800;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 186px;
        margin: 0 auto;
        color: #0e0e0e;
    }
</style>

@if (monans == null)
{
    <p>Loading ...</p>
}
else
{
<div class="list-product">
    @foreach (var item in monans)
    {
        <div class="product">
            @{
                temp = imgUrl + item.Hinh;
            }
            <a href="details/@item.MonAnID">
                <img src="@temp" class="img-responsive" />
                <span class="title">@item.Name</span>
                <div class="field-price">@item.Gia VNĐ</div>
            </a>
            <button type="button" class="addProduct text-center" onmouseup="addCart(@item.MonAnID);" @onclick="() => AddCart(item.MonAnID)">
                Add order
                <img id="imgBusy_@item.MonAnID" src="images/busy.gif" style="display:none" />
            </button>
        </div>
    }
</div>
<Pagination TotalPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="2" 
            SelectedPage="SelectedPage"/>
}
