@page "/loginCustomer"
@using System.Web
@using System.Net
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject IJSRuntime JSRuntime

<div class="w-50 m-auto">
    <h3 class="text-center">Login</h3>
    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" placeholder="E-mail" aria-label="email"
               aria-describedby="addon-wrapping" @bind="@email" />
    </div>
    <div class="input-group flex-nowrap mt-3">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user"></i></span>
        <input type="password" class="form-control" placeholder="Password" aria-label="email"
               aria-describedby="addon-wrapping" @bind="@password" />
    </div>
    <button class="btn btn-primary" @onclick="CheckLogin">Đăng nhập</button>
</div>
