@inherits LayoutComponentBase

    <style>
        .chinh{
            margin: 0 auto;
            padding-top:100px;
        }
    </style>

<div class="container w-75">
    
    <WebLayout/>

    <div class="m-auto chinh">
        @Body
    </div>
</div>
