@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@using Newtonsoft.Json 

@if (emailAddress != null && emailAddress != "")
{
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            CHICKEN PLUS
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/history/@id">Đơn hàng</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    Danh mục
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="/search/combo">Combo</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/search/water">Nước</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/search/food">Đồ ăn</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
    <!-- Right elements -->
    <div class="d-flex align-items-center">
        <!-- Icon search -->
        <!-- Icon cart -->
        <a class="text-reset me-3" href="/cart">
            <i class="fas fa-shopping-cart"></i>
                <span class="badge rounded-pill badge-notification bg-danger">@count</span>
        </a>

        <!-- Avatar -->
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow"
           id="navbarDropdownMenuLink"
           role="button"
           data-mdb-toggle="dropdown"
           aria-expanded="false">
            <img src="/images/user-tie.png"
                 class="rounded-circle"
                 height="25"
                 alt=""
                 loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink">
            <li>
                <a class="dropdown-item">@emailAddress</a>
            </li>
            <li>
                <a class="dropdown-item" href="/register/@id">Thông tin</a>
            </li>
            <li>
                <a class="dropdown-item" href="/changepassword/@id">Đổi mật khẩu</a>
            </li>
            <li>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
}
else
{
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="/">
        CHICKEN PLUS
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                Danh mục
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="#">Combo</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Nước</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Đồ ăn</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
    <!-- Collapsible wrapper -->
    <!-- Right elements -->
<div class="d-flex align-items-center">
    <a class="text-reset me-3" href="/cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge rounded-pill badge-notification bg-danger">@count</span>
    </a>
    <a class="text-reset me-3" href="/logincustomer">
        <i class="fas fa-sign-in-alt"></i> Đăng nhập
    </a>
    <a class="text-reset me-3" href="/register/0">
        <i class="fas fa-user-plus"></i> Đăng ký
    </a>
</div>
}

@code{
    string id;
    string count;
    string emailAddress;
    protected override void OnInitialized()
    {
        count = "0";
        id = sessionStorage.GetItem<string>("KhachhangId");
        emailAddress = sessionStorage.GetItem<string>("Email");
        var cart = sessionStorage.GetItem<string>("Cart");
        if (cart == null)
        {
            count = "0";
        }
        else
        {
            Cart giohang = JsonConvert.DeserializeObject<Cart>(cart);
            count = giohang.ListViewCart.Count.ToString();
        }

    }


    protected void Logout()
    {
        sessionStorage.RemoveItem("AccessToken");
        sessionStorage.RemoveItem("Email");
        NavigationManager.NavigateTo("/");
    }
}