@page "/donhangList"
@using ASM.Share.Models
@using ASM.Server.Data
@inject ASM.Share.Models.IDonhangSvc donhangSvc



@if (donhangs == null)
{
    <p>Loading ...</p>
}
else
{
    <h3>DANH SÁCH ĐƠN HÀNG</h3>
    <table class="table text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Khách hàng</th>
                <th scope="col">Ngày đặt</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in donhangs)
            {
                <tr>
                    <td>@item.DonhangID</td>
                    <td>@item.KhachhangID</td>
                    <td>@item.Ngaydat</td>
                    <td>@item.Tongtien</td>
                    <td>
                        @if (item.TrangthaiDonhang == TrangthaiDonhang.Danggiao)
                        {
                            <span>Đang giao</span>
                        }
                        else if (item.TrangthaiDonhang == TrangthaiDonhang.Dagiao)
                        {
                            <span>Đã giao</span>
                        }
                        else
                        {
                            <span>Mới đặt</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning text-white" href="/Donhangchitiet/@item.DonhangID"><i class="fas fa-info"></i> Chi tiết</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public List<Donhang> donhangs = null;

    protected override void OnInitialized()
    {
        donhangs = donhangSvc.GetDonhangAll();
    }
}
